input{    
    background: url("https://img.icons8.com/?size=24&id=82712&format=png") top left     no-repeat;
    height:30px;
    padding-left:25px;   
    }

input img {
    width: 20px;
    height: 10px;
}